#main {
  display: flex;
  margin-top: 65px;

  #aside {
    width: 20%;
    min-height: 100vh;
    border-right: 1px solid var(--bg-dark-border);
    padding: 30px;

    button {
      display: block;
      //   font-size: 20px;
      margin-bottom: 15px;
      // opacity: 0.5;
      transition: all 0.3s;
      cursor: pointer;
      padding: 5px 10px 5px 5px;
      border-radius: 0 0 20px 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;

      span:first-child {
        display: inline-block;
        margin-right: 10px;
        vertical-align: -2px;
      }

      &:hover {
        // opacity: 1;
      }
    }
  }
  #contents {
    width: 80%;
    padding: 30px;

    h2 {
      //   padding: 5px 0;
      margin-bottom: 10px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      em {
        // color: ;
      }
    }
  }
}

.videos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 24%;
    margin-bottom: 1%;
    // background: #222;
    // border-radius: 50px 0 0 0;

    .boxInfo {
      height: 100px;
      padding: 10px;
      background-color: #111;
      position: relative;
      // border-radius: 0 0 50px 0;
      margin-top: -30px;
    }
    .videoTitle {
      display: block;
      // margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .channelName {
      position: absolute;
      left: 10px;
      bottom: 10px;
      display: block;
      color: #444;
    }
  }
}

.videoConts {
  .container {
    width: 96%;
    margin: 0 auto;
  }

  .video__inner {
    height: 90vh;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

    .left {
      width: 68%;
      // background: #fff;

      .video {
        width: 100%;
        height: 600px;
        // background: #333;
        position: relative;
        padding-bottom: 27.65%;

        iframe {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }

      .desc {
        width: 100%;
        // height: 100px;
        // background: #777;
        position: relative;
        // padding-bottom: 50px;
        padding: 30px 0;

        .title {
          font-size: 20px;
        }
        .channel {
          padding-top: 10px;
          cursor: pointer;
        }
        .count {
          position: absolute;
          right: 0;
          bottom: 30px;

          .like {
            margin-left: 20px;
            margin-right: 10px;
          }
        }
      }
    }
    .right {
      width: 30%;
      overflow: scroll;
      // height: 800px;
      // background: #444;

      &.side {
        .videos__inner {
          .box {
            width: 100%;
          }
        }
      }
    }
  }
}
#channelConts {
  // z-index: -100;
}

.channel-header {
  height: 400px;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: 70px;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
  }
}
.channel-info {
  text-align: center;
  z-index: 100;
  position: relative;
  margin-bottom: 100px;

  img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -150px;
  }
}
.channel-videos {
}

.searchConts {
  .container {
    width: 96%;
    margin: 0 auto;
  }

  .search__inner {
    width: 100%;
    margin-top: 100px;

    .result {
      width: 100%;
      text-align: center;
      margin: 20px 0 40px 0;
    }
    .searchVideos {
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .search__inner {
    .videos__inner {
      > div {
        width: 32%;
      }
    }
  }
}

@media (max-width: 980px) {
  .videos__inner {
    > div {
      width: 49%;
    }
  }
}

@media (max-width: 800px) {
  #main {
    margin-top: 110px;
  }
  #aside {
    button {
      width: 30px !important;
      border-radius: 50% !important;
      margin: auto;
      display: block;

      span {
        svg {
          margin: 2px 1px -2px 2px;
        }
      }
      span:last-child {
        display: none;
      }
    }
  }
  .video__inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 128px !important;

    .left {
      width: 100% !important;
      background-color: #111;
      // .desc {
      //   border-bottom: 3px solid #333;
      // }
    }
    .right.side {
      width: 100% !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .videos__inner {
        > div {
          width: 49% !important;
        }
      }
    }
  }

  // .videos__inner {
  //   > div {
  //     width: 100%;

  //     .boxInfo {
  //       margin-top: -50px;
  //     }
  //   }
  // }
  .search__inner {
    margin-top: 160px !important;

    .videos__inner {
      > div {
        width: 49%;
      }
    }
  }
}

@media (max-width: 480px) {
  .search__inner {
    .videos__inner {
      > div {
        width: 100%;
      }
    }
  }
}
